* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.caps {
  font-family: "Montserrat", serif;
  text-transform: uppercase;
  color: rgb(159, 163, 167);
  font-weight: 700;
  font-size: .75rem;
  letter-spacing: .125rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Arvo", serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

span,
a {
  display: inline-block;
}

.container {
  display: grid;

  grid-template-columns: repeat(4, 25%);
  /* grid-template-rows: repeat(3, 50vh) 0.5fr; */
  grid-template-areas:
    "g1 g1 g2 g2"
    " g3 g4 g4 g5 "
    " g6 g7 g7 g5"
    "g8 g9 g10 g10";
}

.g1 {
  grid-area: g1;
  display: flex;
  justify-content: space-around;

  .text {
    width: 35%;
    align-self: center;

    h2 {
      font-weight: 400;
      font-size: 22px;
    }

    span {
      font-weight: 400;
      font-size: .875rem;
      color: rgb(159, 163, 167);
    }
  }

  .img {
    align-self: flex-end;
    width: 32%;
  }
}

.g2 {
  grid-area: g2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f7f8f9;

  h1 {
    /* width: 50%; */
    font-size: 48px;
    font-weight: 400;
  }

  a {
    text-decoration: underline;
    color: rgb(39, 185, 194);
    font-size: .875rem;
  }
}

.g3 {
  grid-area: g3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f05638;
  text-align: center;

  .img {
    width: 70%;
    align-self: center;
  }

  h2 {
    color: white;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 1.25rem;
  }

  a {
    color: #ffc80a;
    letter-spacing: .125rem;
    font-size: .75rem;
    font-weight: 700;
  }
}

.g4 {
  grid-area: g4;
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-around;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;

    h3 {
      font-size: 22px;
      font-weight: 400;
      margin-top: 0;
      line-height: 1.875rem;
    }

    .img {
      img {
        width: 250%;
        transform: translateX(-65%);
        -webkit-transform: translateX(-65%);
        -moz-transform: translateX(-65%);
        -ms-transform: translateX(-65%);
        -o-transform: translateX(-65%);
      }
    }
  }

  .right {
    width: 45%;

    p {
      color: rgb(159, 163, 167);
      font-size: 14px;
    }

    a {
      color: rgb(39, 185, 194);
      font-size: .75rem;
      font-weight: 700;
      letter-spacing: .125rem;
    }
  }
}

.g5 {
  grid-area: g5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  color: white;
  text-align: center;
  background-color: #8F76BC;
  padding: 1.875rem 0;

  .circle {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #8166B0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    .img {
      width: 60%;
    }

    span {
      background-color: #8B72B6;
      border-radius: 100vh;
      -webkit-border-radius: 100vh;
      -moz-border-radius: 100vh;
      -ms-border-radius: 100vh;
      -o-border-radius: 100vh;
      padding: .3125rem .625rem;
      margin-bottom: 1.25rem;
      font-weight: 700;
      font-size: 10px;
      margin-top: .625rem;
      letter-spacing: .125rem;

      i {
        color: #FFC80A;
        font-size: .75rem;

      }
    }
  }

  h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
  }

  p {
    width: 60%;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
  }

  a {
    background-color: #FFC80A;
    color: black;
    padding: .625rem .9375rem;
    border-radius: 100vh;
    -webkit-border-radius: 100vh;
    -moz-border-radius: 100vh;
    -ms-border-radius: 100vh;
    -o-border-radius: 100vh;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .125rem;
  }
}

.g6 {
  grid-area: g6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1.875rem 0;
  background-color: #F7F8F9;

  .img {
    width: 60%;

    img {
      transform: translateX(-10%);
      -webkit-transform: translateX(-10%);
      -moz-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      -o-transform: translateX(-10%);
    }
  }

  h3 {
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: .0625rem;
    color: rgb(51, 51, 51);
  }

  a {
    color:
      rgb(39, 185, 194);
    font-size: .75rem;
    font-weight: 700;
  }
}

.g7 {
  grid-area: g7;
  padding-top: 1.875rem;
  color: white;
  background-color: #93B6B7;
  background-image: url(../images/ux.png);
  background-position: center bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: center;

  span {
    background-color: #f05638;
    font-size: .625rem;
    font-weight: 700;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    text-transform: uppercase;
    padding: 5px 10px;
  }

  .img {
    width: 80%;
  }
}

.g8 {
  background-color: #38D5F4;
  grid-area: g8;
  display: flex;
  justify-content: center;
  align-items: center;

  .circle {
    background-color: #35CFED;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    span {
      color: #FFFC00;
      font-size: .875rem;
      font-weight: 400;

      i {
        font-size: 30px;
      }
    }

    h3 {
      color: white;
      font-size: 1.375rem;
      font-weight: 400;
    }
  }
}

.g9 {
  grid-area: g9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #F7F8F9;

  span {
    background-color: #7BC424;
    padding: 8px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: white;
  }

  h3 {
    color:
      rgb(51, 51, 51);
    font-size: 22px;
    font-weight: 400;
  }
}

.g10 {
  grid-area: g10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2C2C2C;

  .img {
    width: 40%;
  }

  h3 {
    font-size: 22px;
    font-weight: 400;
    color: white;
    width: 20%;
  }
}